[user]
	email = samuel.cristobal@protonmail.com
	name = Samuel Cristobal
	# signingkey = FCC3F7D5D6EE6B56

[push]
	default = current

[pull]
	rebase = false

[core]
	editor = nvim
	ignorecase = false

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

# `git dft` instead of `git difftool`.
[alias]
	dft = difftool

# `git dlog` to show `git log -p` with difftastic.
[alias]
	dlog = "-c diff.external=difft log -p --ext-diff"


[includeIf "gitdir:~/repos/databeacon/"]
	 path = ~/.databeacon.gitconfig
