[user]
	email = samuel.cristobal@protonmail.com
	name = Samuel Cristobal
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBeO9l6T5fPEu0iBsNg8UBhFowN9MO8n0BjrgBOBQECf

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign

[init]
	defaultBranch = main

[push]
	default = current

[pull]
	rebase = true
	ff = only

[core]
	editor = nvim
	ignorecase = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

# `git dft` instead of `git difftool`.
[alias]
	dft = difftool

# `git dlog` to show `git log -p` with difftastic.
[alias]
	dlog = "-c diff.external=difft log -p --ext-diff"

