[submodule "nvim/.config/kickstart.nvim"]
	path = nvim/.config/kickstart.nvim
	url = https://github.com/scristobal/kickstart.nvim
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/scristobal/kickstart-modular.nvim
